.login{
  background-color:#CFCACA;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 80px;
  border-radius: 15px;
}

.gravatar {
  height: 30px;
  width: auto;
}